{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<div class="home_pg">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="row">
                            <b style="color:Tomato;">Email:</b> &nbsp;&nbsp; <b style="color:black;"> abheshekh1285@gmail.com</b>
                        </div>
                        <div class="row">
                            <b style="color:Tomato;">Contact Number:</b> &nbsp;&nbsp; <b style="color:black;"> +91 9948363553</b>
                        </div>
                        <div class="row">
                            <a href="https://github.com/Abheshekh" > </a><b style="color:Tomato;">Git:</b> &nbsp;&nbsp; <b style="color:black;"> https://github.com/Abheshekh </b </a>
                        </div>
                        <div class="row">
                            <a href="https://www.linkedin.com/in/abheshekh-akula-4092a6185/">
                                </a><b style="color:Tomato;">LinkedIn:</b> &nbsp;&nbsp; <b style="color:black;"> https://www.linkedin.com/in/abheshekh-akula-4092a6185/ </b>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 borders">
                <div class="card borders" style="width: 20rem;">
                    <!--<img class="card-img-top" src="PASS PORT.jpg" alt="Img govinda">-->
                    <iframe src="https://drive.google.com/file/d/1Vtzc7gZOW6ENw2y5NouA66EzsVJEvyvR/preview" width="300" height="390"></iframe>
                    <div class="card-body">
                        <b class="card-title"> Resume SoftCopy </b>
                        <p class="card-text">
                            <b>Scan QR</b> <br> <b> Download Resume.</b><br> <b> Self Made.</b> <i class='fab fa-python' style='font-size:24px'></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
